<%- include('./layouts/header') %>

<section class="hero flex">
  <h1>Software Engineer</h1>
  <div class="tagline flex">
    <p>Hi there</p>
    <button onclick="toggleTheme()">
      <span id="light-theme">⛅</span>
      <span id="dark-theme" style="display: none;">🌙</span>
    </button>
  </div>
</section>

<script src="/script.js"></script>

<%- include('./layouts/footer') %>
